<h1>{{ recipe.name }}</h1>

<h3>Ingredients:</h3>

<ul>
{% for ingredient in recipe.ingredients.all %}
    <li>
        {{ ingredient.quantity }} - {{ ingredient.ingredient.name }}
    </li>
{% empty %}
    <li>No ingredients added.</li>
{% endfor %}
</ul>

<h3>Images</h3>

{% for image in object.images.all %}
    <img src="{{ image.image.url }}" alt="{{ image.description }}" width="300">
{% endfor %}

{% if user.is_authenticated %}
<a href="{% url 'add_image' object.pk %}">Add Image</a>
{% endif %}
</ul>
<a href="{% url 'recipe_list' %}">Back</a>

